<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="icon"
      href="./favicon-32x32.png"
      type="image/gif"
      sizes="32x32"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"
    ></script>

    <title>Contact</title>
  </head>

  <body>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"
      integrity="sha512-DNeDhsl+FWnx5B1EQzsayHMyP6Xl/Mg+vcnFPXGNjUZrW28hQaa1+A4qL9M+AiOMmkAhKAWYHh1a+t6qxthzUw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
      const phoneinputField = document.querySelector("#phone"); const phoneInput
      = window.intlTelInput(phoneinputField,{ utilsScript:
      "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
      });
    </script>

    {{! <nav class="navbar bg-danger navbar-expand-lg navbar-dark">
            <a href="" class="navbar-brand">TRAVEL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Contact </a> </li>
                    <li class="nav-item"><a class="nav-link" href="#">Home </a> </li>
                    <li class="nav-item"><a class="nav-link" href="#">About </a> </li>
                    <li class="nav-item"><a class="nav-link" href="#">Projects</a> </li>
                    <li class="nav-item"><a class="nav-link" href="#">Hire </a> </li>
                </ul>
            </div>
   </nav> }}

    <div>
      <div class="container">
        <h3>For contact me </h3>
        <form method="post" class="form-submit"action="/contact/form">
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input
              type="text"
              size="50px"
              class="form-control width-330px"
              id="Firstname"
              aria-describedby="FirstName"
              placeholder="Harsh"
              name="FirstName"
            />
            <label for="lastName">Last Name:</label>
            <input
              type="text"
              class="form-control width-330px"
              id="Lastname"
              aria-describedby="LastName"
              placeholder="Dixit"
              name="LastName"
            />
            <label for="InputEmail">Email Address:</label>
            <input
              type="email"
              class="form-control width-330px"
              id="Inputemail1"
              aria-describedby="emailHelp"
              name="Email"
              placeholder="Enter email"
            />
            <small id="emailHelp" class="form-text text-muted">Enter your gmail
              to contact</small>
            <label for="Phone Number">Phone number:</label>
            <br>
            <input type="tel" class="form-control tel input iti width-330px" name="PhoneNo" id="phone" />
          </div>
          <div class="form-group form-check">
            <input
              type="Submit"
              class="btn btn-light"
              value="Submit"
              name="Submit"
            />
          </div>
        </form>
      </div>

    </div>

  </body>
</html>